@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

:root {
  --page-header-bgColor: #30254D;
  --page-header-bgColor-hover: linear-gradient(to right, #CE71DC 0%, #8A57FF 100%);
  --page-header-txtColor: #ffffff;
  --page-header-headingColor: #CE71DC;
  --page-header-width: 220px;
  --page-content-bgColor: #40366A;
  --page-content-txtColor: #ffffff;
  --page-content-blockColor: #302657;
  --white: #fff;
  --black: #333;
  --blue: #00b9eb;
  --red: #ec1848;
  --border-radius: 10px;
  --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}

button,
input {
  border: none;
}

svg {
  display: block;
}

body {
  font: 16px/1.5 "Montserrat", sans-serif;
}

h1 {
  color: var(--page-header-headingColor);
  text-transform: uppercase;
  font-size: 30px;
}

/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 20px;
  width: var(--page-header-width);
  color: var(--page-header-txtColor);
  background: var(--page-header-bgColor);
}

/*In case you prefer an absolutely positioned header that covers the full page height, add these styles*/
/*body {
  position: relative;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}*/

/*remove these styles*/
/*.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}*/

.page-header nav {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header .logo {
  display: block;
  max-width: 190px;
  margin: 0 15px;
}

.page-header .toggle-mob-menu {
  display: none;
  margin-left: 10px;
  padding: 4px;
  background: var(--page-content-blockColor);
  border-radius: var(--border-radius);
}

.page-header .toggle-mob-menu img {
  fill: var(--black);
  transition: transform 0.2s;
  height: 20px;
}

.page-header .admin-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 35px;
}

.page-header .admin-menu li:nth-last-child(2) {
  margin-bottom: 35px;
}

.page-header .admin-menu li:last-child {
  margin-top: auto;
  margin-bottom: 20px;
}

.page-header .admin-menu li > * {
  width: 100%;
  padding: 12px 15px;
}

.page-header .admin-menu .menu-heading h3 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  margin-top: 12px;
  color: var(--page-header-headingColor);
}

.page-header .admin-menu img {
  width: 20px;
  height: 20px;
  fill: var(--page-header-txtColor);
  margin-right: 10px;
  transition: fill 0.2s;
}

.page-header .admin-menu .dropdown{
  width: 10px;
  height: 10px;
}

.page-header .admin-menu a,
.page-header .admin-menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
  font: 14px/1.5 "Montserrat", sans-serif;
}

.page-header .admin-menu a:hover,
.page-header .admin-menu a:focus,
.page-header .admin-menu button:hover,
.page-header .admin-menu button:focus {
  background: var(--page-header-bgColor-hover);
  color: var(--white);
  outline: none;
}


/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
  position: relative;
  left: var(--page-header-width);
  width: calc(100% - var(--page-header-width));
  min-height: 100vh;
  padding: 30px;
  color: var(--page-content-txtColor);
  background: var(--page-content-bgColor);
}

.search-and-user {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 50px;
  align-items: center;
  background: var(--page-content-bgColor);
  margin-bottom: 30px;
}

.search-and-user form {
  position: relative;
}

.search-and-user input[type="search"] {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 15px;
  background: var(--page-content-blockColor);
  color: var(--white);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  font: 16px/1.5 "Montserrat", sans-serif;
}

.search-and-user input[type="search"]:focus {
  background: var(--page-header-bgColor-hover);
}

.search-and-user ::placeholder {
  color: var(--page-content-txtColor);
}

.search-and-user form img {
  width: 26px;
  height: 26px;
  fill: var(--page-content-txtColor);
}

.search-and-user form button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.search-and-user .admin-profile {
  display: flex;
  align-items: center;
}

.search-and-user .admin-profile .greeting {
  margin: 0 10px 0 20px;
}

.search-and-user .admin-profile img {
  width: 30px;
  height: 30px;
}

.search-and-user .admin-profile .notifications {
  position: relative;
}

.search-and-user .admin-profile .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 10px;
  color: var(--white);
  background: var(--red);
}

.page-content .grid {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(0, [row] auto  );
  grid-gap: 30px;
}

.page-content .grid > article {
  min-height: 150px;
  height: auto;
  max-height: 600px;
  background: var(--page-content-blockColor);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.page-content .grid > article:first-child{
 grid-column: col / span 2;
grid-row: row ;
}

.page-content .grid > article:nth-child(2){
 grid-column: col 3 / span 2 ;
grid-row: row ;
}

.page-content .grid > article:nth-child(3){
grid-column: col ;
grid-row: row 2 ;
}

.page-content .grid > article:nth-child(4){
grid-column: col 2 / span 3 ;
grid-row: row 2 ;
}

.page-content .grid > article:nth-child(5){
grid-column: col / span 4;
grid-row: row 3;
}

/* ARTICLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-content .grid article canvas{
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-content .grid article canvas{
  max-width: 900px;
}

.page-content .grid article img{
  max-width: 300px;
  width: 200px;
  min-width: 100px;
}

.page-content .grid > article:nth-child(3){
padding-top: 20px;
padding-bottom: 0px;

}

/* MQ RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1200px) {

.page-content .grid {
  grid-gap: 20px;
}

.page-content .grid > article:first-child{
 grid-column: col / span 4;
grid-row: row ;
}

.page-content .grid > article:nth-child(2){
 grid-column: col / span 4 ;
grid-row: row 2;
}

.page-content .grid > article:nth-child(3){
grid-column: col 1 / span 2 ;
grid-row: row 3 ;
}

.page-content .grid > article:nth-child(4){
grid-column: col 3 / span 2 ;
grid-row: row 3 ;
}

.page-content .grid > article:nth-child(5){
grid-column: col / span 4;
grid-row: row 4;
}

.page-content .grid > article:nth-child(6){
grid-column: col 1 / span 2;
grid-row: row 5;
}

.page-content .grid > article:nth-child(7){
grid-column: col 3 / span 2;
grid-row: row 5;
}

.page-content .grid > article:nth-child(8){
grid-column: col 1 / span 2;
grid-row: row 6;
}

.page-content .grid > article:nth-child(9){
grid-column: col 3 / span 2;
grid-row: row 6;
}

}


@media screen and (max-width: 767px) {
  .page-content .grid > article {
    grid-column: 1 / -1;
    grid-gap: 15px
}

.page-content .grid > article:first-child{
 grid-column: col / span 4;
grid-row: row ;
}

.page-content .grid > article:nth-child(2){
 grid-column: col / span 4 ;
grid-row: row 2;
}

.page-content .grid > article:nth-child(3){
 grid-column: col / span 4 ;
grid-row: row 3;
}

.page-content .grid > article:nth-child(4){
 grid-column: col / span 4 ;
grid-row: row 4;
}

.page-content .grid > article:nth-child(5){
 grid-column: col / span 4 ;
grid-row: row 5;
}

.page-content .grid > article:nth-child(6){
 grid-column: col / span 4 ;
grid-row: row 6;
}

.page-content .grid > article:nth-child(7){
 grid-column: col / span 4 ;
grid-row: row 7;
}

.page-content .grid > article:nth-child(8){
 grid-column: col / span 4 ;
grid-row: row 8;
}

.page-content .grid > article:nth-child(9){
 grid-column: col / span 4 ;
grid-row: row 9;
}

  .page-header,
  .page-content {
    position: static;
    width: 100%;
  }
   
  .page-header {
    padding: 10px;
  }

  .page-header nav {
    flex-direction: row;
  }

  .page-header .logo {
    margin: 0;
    height: 22px;
  }

  .page-header .toggle-mob-menu {
    display: block;
  }

  .page-header .admin-menu {
    position: absolute;
    left: 98px;
    top: 57px;
    margin-top: 0;
    z-index: 2;
    border-radius: var(--border-radius);
    background: var(--page-header-bgColor);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.2s;
  }

  .page-header .admin-menu li:nth-last-child(2) {
    margin-bottom: 12px;
  }
  
  .page-header .admin-menu li:last-child,
  .search-and-user .admin-profile .greeting {
    display: none;
  }
  
  .page-content {
    min-height: 0;
    padding: 10px;
  }

  .page-content .grid {
    grid-gap: 10px;
  }

  .search-and-user {
    position: absolute;
    left: 131px;
    top: 10px;
    padding: 0;
    grid-column-gap: 5px;
    width: calc(100% - 141px);
    border-radius: var(--border-radius);
    background: transparent;
  }

  .search-and-user input[type="search"] {
    font-size: 1rem;
    height: 35px;
    margin-left:20px;
    width:80%;
  }

  .search-and-user form img {
    width: 18px;
    height: 18px;
  }

  .search-and-user .admin-profile img {
    fill: var(--white);
  }
  h1{
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .page-content .grid > article {
    grid-column: 1 / -1;
  }
}


/* BODY CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mob-menu-opened .toggle-mob-menu img {
  transform: rotate(180deg);
}

.mob-menu-opened .page-header .admin-menu {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .collapsed .page-header {
    width: 40px;
  }

  .collapsed .page-header .admin-menu li > * {
    padding: 10px;
  }

  .collapsed .page-header .logo,
  .collapsed .page-header .admin-menu span,
  .collapsed .page-header .admin-menu .menu-heading {
    display: none;
  }

  .collapsed .page-header .admin-menu img {
    margin-right: 0;
  }

  .collapsed .page-header .collapse-btn img {
    transform: rotate(180deg);
  }

  .collapsed .page-content {
    left: 40px;
    width: calc(100% - 40px);
  }
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  font-size: 0.85rem;
  text-align: right;
  margin-top: 10px;
}

.page-footer span {
  color: var(--red);
}